@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/cuprum.woff2") format("woff2"),
  url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum Italic";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
  url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
  url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum Bold Italic";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
  url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
}

/* Global */

:root {
  /* Цвета */

  --base-strong: #000000;
  --base-weak: #ffffff;

  --faint-strong: #a9a9a9;
  --faint-weak: #f1f5f7;

  --accent-strong: #ee3643;

  --complement-strong: #293449;
  --complement-weak: #32425c;

  --warning-strong: #ffd180;
  --warning-weak: #f7f3ec;

  --success-strong: #367315;
  --success-weak: #63a63e;

  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-green: #8ed78f;

  --range-bar: #d7dcde;
  --range-filled-bar: #00ca74;
  --range-toggle: #ababab;
  --range-shadow-toggle: rgba(171, 171, 171, 0.3);

  /* Сдвиги */

  --faint-strong-down: #c5c5c5;
  --faint-weak-down: #eaeaea;

  --accent-strong-up: #ba2732;

  --complement-strong-up: #1d2739;
  --complement-weak-down: #405069;

  --success-weak-down: #5fbb2d;

  /* Подмены */

  --bg-base-strong: rgba(0, 0, 0, 0.25);
  --bg-base-strong-down: rgba(0, 0, 0, 0.15);
  --bg-base-weak: rgba(255, 255, 255, 0.3);

  --bg-faint-strong: rgba(169, 169, 169, 0.3);
  --bg-faint-strong-down: rgba(197, 197, 197, 0.3);
  --bg-faint-weak: #f4f4f4;
  --bg-faint-weak-down: #e5e5e5;

  --bg-complement-strong-up: #161d29;
  --bg-complement-strong: #212a3a;
  --bg-complement-weak-down: #3d546f;

  --bg-warning-strong: #ffbf47;

  --bg-success-weak: #518534;

  --text-base-strong: rgba(0, 0, 0, 0.3);
  --text-base-strong-down: rgba(0, 0, 0, 0.4);
  --text-base-weak: rgba(255, 255, 255, 0.5);

  /* Шрифты */

  --base-f: "Cuprum", Arial, sans-serif;
  --base-italic-f: "Cuprum Italic", Arial, sans-serif;
  --base-bold-f: "Cuprum Bold", Arial, sans-serif;
  --base-bold-italic-f: "Cuprum Bold Italic", Arial, sans-serif;
  --secondary-f: "PT Sans", Arial, sans-serif;
  --secondary-bold-f: "PT Sans Bold", Arial, sans-serif;

  /* Размер шрифта */

  --title-base-fz: 30px;

  /* Межстрочный интервал */

  --title-base-lh: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  align-items: center;
  min-width: 960px;
  min-height: 100%;

  font-size: 13px;
  line-height: 24px;
  font-family: var(--secondary-f);
  color: var(--base-strong);

  grid-template-rows: min-content 1fr min-content;
}

.container {
  box-sizing: content-box;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/* Buttons */

.button {
  display: inline-block;
  padding: 0;

  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-link {
  display: inline-block;
  padding: 10px;

  font-size: 14px;
  line-height: 18px;
  font-family: var(--base-f);
  vertical-align: middle;
  text-align: center;
  color: var(--base-weak);
  text-transform: uppercase;

  background-color: var(--accent-strong);
}

.button-link:hover,
.button-link:focus {
  background-color: var(--accent-strong);
}

.button-link:active {
  background-color: var(--accent-strong-up);
}

/* Logo */

.logo {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: calc(100% + 5px);

  background-color: var(--accent-strong);
  box-shadow: inset 0 -5px 0 var(--bg-base-strong);
}

.logo:hover::before,
.logo:focus::before {
  background-color: var(--accent-strong);
}

.logo:active::before {
  background-color: var(--accent-strong-up);
}

.logo:hover:not([href])::before,
.logo:focus:not([href])::before,
.logo:active:not([href])::before {
  background-color: var(--accent-strong);
}

.logo__image {
  z-index: 1;
}

/* Search */

.search {
  position: relative;
}

.search__input {
  width: 270px;
  padding: 9px 20px 9px 42px;

  line-height: 24px;
  color: var(--base-weak);

  background-color: transparent;
  border: none;
}

.search__input::placeholder {
  color: var(--base-weak);
}

.search__input:focus {
  color: var(--base-strong);

  background-color: var(--base-weak);
}

.search__input:focus::placeholder {
  color: var(--base-strong);
}

.search__button {
  position: absolute;
  top: 12px;
  left: 17px;

  box-sizing: content-box;
  height: 17px;

  fill: var(--bg-base-weak);
}

.search__input:hover + .search__button,
.search__button:hover {
  fill: var(--base-weak);
}

.search__input:focus + .search__button,
.search__button:focus {
  fill: var(--accent-strong);
}

/* Product navigation */

.product-navigation {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-navigation__link {
  display: block;
  min-width: 150px;
  padding: 9px 5px;

  color: var(--base-weak);
}

.product-navigation__link:active {
  color: var(--text-base-weak);

  background-color: var(--bg-complement-strong-up);
}

.product-navigation__link--bookmarks,
.product-navigation__link--cart {
  position: relative;
}

.product-navigation__link--bookmarks {
  padding-left: 45px;
}

.product-navigation__link--cart {
  padding-left: 50px;
}

.product-navigation__link--bookmarks::before,
.product-navigation__link--cart::before {
  content: "";
  position: absolute;

  background-repeat: no-repeat;
  opacity: 0.3;
}

.product-navigation__link--bookmarks::before {
  top: 13px;
  left: 20px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
}

.product-navigation__link--cart::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 25px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
}

.product-navigation__link--bookmarks:hover::before,
.product-navigation__link--bookmarks:focus::before,
.product-navigation__link--cart:hover::before,
.product-navigation__link--cart:focus::before {
  opacity: 1;
}

.product-navigation__link--bookmarks:active::before,
.product-navigation__link--cart:active::before {
  opacity: 0.3;
}

.product-navigation__link--order {
  text-align: center;

  background-color: var(--success-weak);
}

.product-navigation__link--order:hover,
.product-navigation__link--order:focus {
  background-color: var(--success-weak-down);
}

.product-navigation__link--order:active {
  background-color: var(--success-weak);
}

.product-navigation__link--cart-filled {
  background-color: var(--accent-strong);
}

/* Main navigation */

.main-navigation {
  background-color: var(--complement-weak);
  border-bottom: 5px solid var(--complement-strong);
}

.main-navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 25px;

  list-style: none;
}

.main-navigation__link {
  display: block;
  padding: 16px 28px 15px;

  color: var(--base-weak);
}

.main-navigation__link:hover,
.main-navigation__link:focus {
  background-color: var(--complement-strong);
}

.main-navigation__link:active {
  color: var(--text-base-weak);

  background-color: var(--complement-strong-up);
}

.main-navigation__link--current:hover,
.main-navigation__link--current:focus,
.main-navigation__link--current:active {
  color: var(--base-weak);

  background-color: transparent;
  cursor: default;
}

/* User navigation */

.user-navigation {
  width: 300px;
}

.user-navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 21px;
  line-height: 21px;
  justify-content: center;
}

.user-navigation__item--login {
  margin-right: 10px;
  margin-left: auto;
}

.user-navigation__item--left {
  margin-right: 15px;
}

.user-navigation__item--right {
  margin-left: 15px;
}

.user-navigation__item--left,
.user-navigation__item--right {
  margin-top: 7px;
}

.user-navigation__link {
  position: relative;

  display: block;
  padding: 12px 25px;

  text-align: center;
  color: var(--base-strong);

  background-color: var(--base-weak);

  fill: var(--faint-strong-down);
}

.user-navigation__link:hover,
.user-navigation__link:focus {
  color: var(--accent-strong);

  fill: var(--bg-complement-weak-down);
}

.user-navigation__link:active {
  color: var(--faint-strong-down);

  fill: var(--faint-strong-down);
}

.user-navigation__link--login {
  padding-left: 45px;

  text-align: left;
}

.user-navigation__link--login .user-navigation__icon {
  position: absolute;
  top: 14px;
  left: 20px;
}

.user-navigation__link--account {
  padding-right: 10px;
  padding-left: 55px;

  text-align: left;
}

.user-navigation__link--account .user-navigation__icon {
  position: absolute;
  top: 13px;
  left: 15px;
}

.user-navigation__item--logout {
  display: flex;
  padding: 14px 15px 14px 12px;
}

.user-navigation__link--nav {
  position: relative;

  padding: 0;

  font-size: 16px;
  line-height: 18px;
  color: var(--complement-weak);

  background-color: transparent;
}

.user-navigation__link--left::before,
.user-navigation__link--right::after {
  content: "";
  position: absolute;
  top: 6px;

  width: 6px;
  height: 6px;

  background-color: var(--complement-weak);
  border-radius: 50%;
}

.user-navigation__link--left::before {
  right: -18px;
}

.user-navigation__link--right::after {
  left: -18px;

  background-color: transparent;
}

.user-navigation__link--left:hover::before,
.user-navigation__link--left:focus::before,
.user-navigation__link--right:hover::after,
.user-navigation__link--right:focus::after {
  background-color: var(--accent-strong);
}

.user-navigation__link--left:active::before,
.user-navigation__link--right:active::after {
  background-color: var(--faint-strong-down);
}

/* Offers */

.offers {
  display: grid;

  font-family: var(--base-f);
  color: var(--base-weak);

  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.offer__item {
  position: relative;

  padding: 20px 25px;
  overflow: hidden;

  background-repeat: no-repeat;
}

.offer__item--materials {
  background-color: var(--bg-warning-strong);
  background-image: url("../img/icon-1.svg");
  background-position: calc(100% - 43px) 31px;
}

.offer__item--tool {
  background-color: var(--special-blue);
  background-image: url("../img/icon-2.svg");
  background-position: calc(100% - 31px) 34px;
}

.offer__item--tech {
  background-color: var(--special-lilac);
  background-image: url("../img/icon-3.svg");
  background-position: calc(100% - 31px) 31px;
}

.offer__item--discounts {
  background-color: var(--special-green);
  background-image: url("../img/icon-4.svg");
  background-position: calc(100% - 45px) 26px;
}

.offer__item--delivery {
  background-color: var(--bg-warning-strong);
  background-image: url("../img/icon-5.svg");
  background-position: calc(100% - 31px) 32px;
}

.offer__name {
  margin: 0 0 15px;

  font-size: 24px;
  line-height: 30px;
  font-family: var(--base-bold-f);
}

.offer__link {
  min-width: 135px;

  background-color: var(--bg-base-weak);
}

.offer__link:hover,
.offer__link:focus {
  background-color: var(--bg-faint-strong-down);
}

.offer__link:active {
  background-color: var(--bg-faint-strong);
}

.offer__slider {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

/* Section header */

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 20px 26px 30px;

  font-family: var(--base-f);

  background-color: var(--warning-weak);
}

.section-header__title {
  margin: 0;

  font-weight: 400;
  font-size: var(--title-base-fz);
  line-height: var(--title-base-lh);
  color: var(--complement-weak);
  text-transform: uppercase;
}

.section-header__link {
  min-width: 192px;
}

/* Manufacturers */

.manufacturers__inner {
  margin-bottom: 20px;
}

.manufacturers__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.manufacturer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;

  border: 1px solid var(--faint-weak-down);
}

.manufacturer__link:hover,
.manufacturer__link:focus {
  box-shadow: 0 4px 20px var(--bg-base-strong-down);
}

.manufacturer__link:active {
  box-shadow: 0 4px 20px var(--bg-base-strong-down);
  opacity: 0.5;
}

/* Services */

.services.wrapper {
  background-color: var(--faint-weak);
}

.services__title {
  margin: 0 0 25px;
  padding-top: 65px;

  font-weight: 400;
  font-size: var(--title-base-fz);
  line-height: var(--title-base-lh);
  font-family: var(--base-f);
  text-transform: uppercase;
}

.services__text {
  max-width: 400px;
  margin: 0 0 20px;
}

.services__inner {
  display: flex;
  padding-top: 50px;
}

/* About us */

.about-us {
  width: 480px;
}

.about-us__title {
  margin: 0;

  font-weight: 400;
  font-size: var(--title-base-fz);
  line-height: var(--title-base-lh);
  font-family: var(--base-f);
  text-transform: uppercase;
}

.about-us__text {
  margin: 25px 0 0;
}

.about-us__list {
  margin: 0 0 20px;
  padding: 0;

  list-style: none;
  font-size: 18px;
  font-family: var(--base-f);
}

.about-us__item {
  position: relative;

  margin-bottom: 10px;
  padding-left: 35px;
}

.about-us__item::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 0;

  width: 25px;
  height: 2px;

  background-color: var(--accent-strong);
}

.about-us__item:last-child {
  margin-bottom: 0;
}

.about-us__link {
  min-width: 220px;
}

/* Contacts */

.contacts {
  width: 300px;
}

.contacts__title {
  margin: 0;

  font-weight: 400;
  font-size: var(--title-base-fz);
  line-height: var(--title-base-lh);
  font-family: var(--base-f);
  text-transform: uppercase;
}

.contacts__text {
  margin: 25px 0 30px;
}

.contacts__map-link {
  display: block;
  margin-bottom: 21px;
}

.contacts__map-image {
  display: block;
}

.contacts__form-link {
  width: 100%;
}

/* Layout */

.layout {
  display: grid;
  margin-bottom: 60px;

  column-gap: 20px;

  grid-template-columns: 220px 1fr;
}

.layout__sorting {
  margin-bottom: 30px;
}

.layout__products {
  margin-bottom: 45px;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  order: -1;
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumb__item {
  position: relative;

  margin-right: 40px;
}

.breadcrumb__item:last-child {
  margin-right: 0;
}

.breadcrumb__item::after {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;

  width: 8px;
  height: 100%;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.breadcrumb__item:last-child::after {
  content: none;
}

.breadcrumb__link {
  color: var(--base-strong);
}

.breadcrumb__link--index {
  display: block;
  width: 14px;
  height: 100%;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

/* Filters */

.filters {
  text-transform: uppercase;
}

.filters__head {
  margin: 0 0 15px;
  padding: 10px 20px;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  border-radius: 2px;

  background-color: var(--warning-weak);
}

.filter__item {
  margin: 0 0 15px;
  padding: 0 0 25px;

  border: none;
  border-bottom: 1px solid var(--bg-faint-weak-down);
}

.filter__item:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.filter__title {
  font-size: 17px;
  line-height: var(--title-base-lh);
  font-family: var(--secondary-bold-f);
  margin-bottom: 15px;
}

.filter__input-wrapper {
  margin: 0 0 15px;
}

.filter__input-wrapper:last-child {
  margin-bottom: 0;
}

.filter__label {
  position: relative;
  display: block;
  padding-left: 35px;
  cursor: pointer;
}

.filter__label--radio {
  min-height: 25px;
}

.filter__input:disabled + .filter__label {
  color: var(--text-base-strong-down);
}

.filter__input + .filter__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  opacity: 0.78;
}

.filter__input + .filter__label:hover::before,
.filter__input:focus + .filter__label::before {
  opacity: 1;
}

.filter__input--checkbox + .filter__label::before {
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

.filter__input--checkbox:checked + .filter__label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter__input--radio + .filter__label::before {
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
}

.filter__input--radio:checked + .filter__label::before {
  background-image: url("../img/radio-on.svg");
}

.filter__input:disabled + .filter__label::before {
  opacity: 0.3;
}

.filters__button {
  width: 100%;
  margin-top: 35px;
  padding: 10px;

  line-height: 18px;

  border: 1px solid var(--bg-faint-weak-down);
}

/* Range filter */

.range-filter {
  position: relative;
  width: 220px;
  height: 80px;
  padding: 0 20px;
  background-color: var(--warning-weak);
  border-radius: 3px;
  margin-bottom: 10px;
}

.range__bar {
  position: absolute;
  top: calc(50% - 1px);
  left: 20px;
  right: 20px;

  height: 2px;
  background-color: var(--range-bar);
}

.range__filled-bar {
  position: absolute;
  width: 84.5%;
  height: 100%;
  background-color: var(--range-filled-bar);
}

.range__control {
  position: absolute;
  top: calc(50% - 10px);
  width: 4px;
  height: 4px;
  background-color: var(--range-toggle);
  border: 8px solid var(--base-weak);
  box-sizing: content-box;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--range-shadow-toggle);
  cursor: move;
}

.range__control--left {
  left: 0;
}

.range__control--right {
  right: 13.4%;
}

.range__ally {
  display: flex;
  justify-content: space-between;
}

.range__input-wrapper {
  font-size: 17px;
  line-height: 18px;
  margin: 0;
}

.range__ally-input {
  width: 95px;
  padding: 10px;
  border: none;
  text-align: center;
  background-color: var(--warning-weak);
  -moz-appearance: textfield;
}

.range__ally-input::-webkit-outer-spin-button,
.range__ally-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Product */

.products__inner {
  margin-bottom: 20px;
}

.products__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 18px;
  font-family: var(--secondary-bold-f);

  grid-gap: 20px;
  grid-template-columns: repeat(3, 220px);
}

.products__list--popular {
  grid-template-columns: repeat(4, 220px);
}

.product__item {
  position: relative;
  overflow: hidden;

  border: 1px solid var(--faint-weak-down);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.product__item:hover,
.product__item:focus-within {
  box-shadow: 0 4px 20px var(--bg-base-strong-down);
}

.product__name {
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 auto;
  text-align: center;
}

.product__name-link {
  color: var(--base-strong);
}

.product__price {
  font-size: 17px;
  text-align: center;
  margin: 0;
}

.product__price--current {
  position: relative;
  margin-top: 15px;
  color: var(--base-weak);
  background-color: var(--accent-strong);
  min-width: 120px;
  padding: 10px;
  border-radius: 2px 0 0 2px;
}

.product__price--current::before {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  border-style: solid;
  border-width: 19px 0 19px 20px;
  border-color: transparent transparent transparent var(--accent-strong);
}

.product__price--old {
  color: var(--faint-strong);
  text-decoration: line-through;
  margin-top: 5px;
}

.product__image-wrapper {
  order: -1;
  width: 100%;
  height: 150px;
  margin: 0 0 10px;
  background-color: var(--base-weak);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.product__image {
  max-height: 100%;
  object-fit: contain;
}

.product__links {
  position: absolute;
  top: 0;
  width: 100%;
  height: 170px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  background-color: var(--base-weak);
  align-items: center;
  z-index: -1;
}

.product__item:hover .product__links,
.product__item:focus-within .product__links {
  z-index: 2;
}

.product__link {
  font-size: 14px;
  font-family: var(--base-f);
  text-transform: uppercase;
  width: 135px;
  padding: 10px;

  border-radius: 2px;
}

.product__link--buy {
  position: relative;
  margin-bottom: 10px;
  color: var(--base-weak);
  padding-left: 55px;

  background-color: var(--success-weak);
  box-shadow: inset 0 -3px 0 var(--success-strong);
}

.product__link--buy::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 30px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.product__link--buy:hover,
.product__link--buy:focus {
  background-color: var(--success-weak-down);
}

.product__link--buy:active {
  background-color: var(--bg-success-weak);
}

.product__link--bookmark {
  text-align: center;
  color: var(--complement-weak);
  padding-top: 7px;
  padding-bottom: 7px;

  border: 3px solid var(--success-weak);
}

.product__link--bookmark:hover,
.product__link--bookmark:focus {
  border: 3px solid var(--complement-weak);
}

.product__link--bookmark:active {
  opacity: 0.5;
}

/* Rectangle new */

.rectangle-new {
  position: absolute;
  top: 10px;
  right: -25px;

  width: 100px;
  padding: 6px;

  font-size: 14px;
  line-height: 18px;
  font-family: var(--base-f);
  text-align: center;
  text-transform: uppercase;

  color: var(--base-weak);
  background-color: var(--accent-strong);
  transform: rotate(45deg);
  z-index: 2;
}

.rectangle-new::before {
  content: "New";
}

/* Sorting */

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;

  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;

  background-color: var(--warning-weak);
}

.sorting__title {
  margin: 0;

  font-weight: 400;
  font-size: 13px;
}

.sorting__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting__item--price {
  margin-right: 70px;
}

.sorting__item--type {
  margin-right: 65px;
}

.sorting__item--function {
  margin-right: 30px;
}

.sorting__link {
  display: block;
  padding: 10px 0;

  color: var(--text-base-strong);

  background-image: linear-gradient(to right, var(--accent-strong) 50%, transparent 50%);
  background-repeat: repeat-x;
  background-position: 0 calc(100% - 10px);
  background-size: 2px 1px;
}

.sorting__link:hover,
.sorting__link:focus {
  color: var(--base-strong);

  background-image: linear-gradient(to right, var(--accent-strong) 50%, var(--accent-strong) 50%);
}

.sorting__link:active {
  color: var(--accent-strong);

  background-image: none;
}

.sorting__link--direction {
  background-image: none;

  fill: var(--faint-strong-down);
}

.sorting__link--direction:hover,
.sorting__link--direction:focus {
  background-image: none;

  fill: var(--base-strong);
}

.sorting__link--direction:active {
  background-image: none;

  fill: var(--accent-strong);
}

.sorting__link--up {
  padding-right: 10px;
  padding-left: 15px;
}

.sorting__link--down {
  padding-right: 15px;
  padding-left: 10px;
}

.sorting__link--current {
  color: var(--accent-strong);

  background-image: none;

  fill: var(--accent-strong);
}

.sorting__link--current:hover,
.sorting__link--current:focus,
.sorting__link--current:active {
  color: var(--accent-strong);

  background-image: none;
  cursor: default;

  fill: var(--accent-strong);
}

.sorting__image--rotate {
  transform: rotate(180deg);
}

/* Pagination */

.pagination {
  line-height: 18px;
  text-transform: uppercase;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__item {
  margin-right: 10px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__link {
  display: block;
  padding: 10px 15px;

  color: var(--base-strong);

  border: 1px solid var(--bg-faint-weak-down);
  border-radius: 2px;
}

.pagination__link:hover,
.pagination__link:focus {
  border-color: var(--faint-strong-down);
}

.pagination__link:active {
  border-color: var(--accent-strong);
}

.pagination__link--next {
  min-width: 140px;

  text-align: center;
}

.pagination__link--current {
  color: var(--base-weak);

  background-color: var(--accent-strong);
  border-color: transparent;
}

.pagination__link--current:hover,
.pagination__link--current:focus,
.pagination__link--current:active {
  border-color: transparent;
}

/* Information */

.information.wrapper {
  padding: 65px 0;

  background-color: var(--faint-weak);
}

.information__title {
  margin: 0 0 25px;

  font-weight: 400;
  font-size: var(--title-base-fz);
  line-height: var(--title-base-lh);
  font-family: var(--base-f);
  text-transform: uppercase;
}

.information__text {
  margin: 0;
}

/* Copyright */

.copyright {
  max-width: 235px;
  margin: 0;
}

/* Social */

.social {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  margin-right: 3px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  width: 41px;
  height: 41px;

  color: var(--base-weak);

  background-color: var(--bg-complement-strong);
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
}

.social__link:hover,
.social__link:focus,
.social__link:active {
  background-color: var(--accent-strong);
}

.social__link--vk {
  background-image: url("../img/icon-vk.svg");
}

.social__link--facebook {
  background-image: url("../img/icon-fb.svg");
}

.social__link--instagram {
  background-image: url("../img/icon-insta.svg");
}

/* Communication */

.communication {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.communication__text {
  margin: 0;
}

.communication__link {
  color: var(--warning-strong);
}

.communication__link:hover,
.communication__link:focus {
  text-decoration: underline;
}

.communication__link:active {
  color: var(--accent-strong);
  text-decoration: none;
}

/* Page header */

.page-header {
  font-size: 18px;
  font-family: var(--base-f);

  background-color: var(--faint-weak);
}

.page-header .wrapper {
  background-color: var(--complement-strong);
}

.page-header__top {
  display: flex;
}

.page-header__logo {
  width: 220px;
  height: 42px;
}

.page-header__middle {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 40px;
}

.page-header__title {
  width: 300px;
  margin: 0;
  padding-left: 30px;

  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  font-family: var(--base-italic-f);
  color: var(--accent-strong);
}

.page-header__contacts {
  width: 300px;

  font-style: normal;
}

.page-header__tel {
  display: block;
  width: 270px;
  padding: 5px 0 5px 70px;

  font-size: 21px;
  line-height: 30px;
  font-family: var(--base-bold-f);
  color: var(--accent-strong);

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 35px 10px;
  border: 3px solid var(--base-weak);
}

.page-header__address {
  margin: 3px 0 0 10px;

  font-size: 14px;
  color: var(--complement-weak);
}

.page-header__bottom {
  padding-bottom: 60px;
}

/* Page main */

.page-main {
  margin-top: 60px;
  margin-bottom: 70px;
}

.page-main__offers {
  margin-bottom: 60px;
}

.page-main__inner {
  display: flex;
  justify-content: space-between;
}

.page-main__margin {
  margin-bottom: 70px;
}

/* Page catalog */

.page-catalog__inner {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.page-catalog__title {
  margin: 0;
  padding: 30px;

  font-weight: 400;
  font-size: var(--title-base-fz);
  line-height: var(--title-base-lh);
  font-family: var(--base-f);
  text-transform: uppercase;

  background-color: var(--faint-weak);
}

.page-catalog__breadcrumbs {
  margin-bottom: 20px;
}

/* Page footer */

.page-footer {
  font-family: var(--base-f);

  background-color: var(--complement-weak);
}

.page-footer__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 55px;

  font-size: 18px;
  color: var(--faint-weak);
}

.page-footer__logo {
  width: 220px;
  height: 68px;
}

.page-footer__logo::before {
  height: 100%;
}

.page-footer__contacts {
  margin-top: 20px;

  font-style: normal;
}

.page-footer__address {
  margin: 0;
}

.page-footer__tel {
  margin: 0;

  color: var(--faint-weak);
}

.page-footer__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
  width: 555px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-footer__navigation-item {
  margin-right: 60px;
  padding-top: 35px;
}

.page-footer__navigation-item:nth-child(5n),
.page-footer__navigation-item:last-child {
  margin-right: 0;
}

.page-footer__navigation-link {
  color: var(--faint-weak);
}

.page-footer__navigation-link:hover,
.page-footer__navigation-link:focus {
  text-decoration: underline;
}

.page-footer__navigation-link:active {
  text-decoration: none;

  opacity: 0.5;
}

.page-footer__navigation-link--accent {
  color: var(--warning-strong);
}

.page-footer__navigation-link--accent:active {
  opacity: 0.5;
}

.page-footer .wrapper {
  background-color: var(--complement-strong);
}

.page-footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 30px;

  font-size: 16px;
  line-height: 18px;
  color: var(--base-weak);
}

.page-footer__social {
  margin-left: 35px;
}

/* Modal */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--base-weak);
  box-shadow: 0 4px 20px var(--bg-base-strong-down);
  z-index: 2;
}

.modal::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  height: 7px;

  background-color: var(--accent-strong);
}

.modal__links {
  padding: 35px 0;
  background-color: var(--bg-faint-weak);
  text-align: center;
}

.modal__close-button {
  position: absolute;
  top: 12px;
  right: 0;

  box-sizing: content-box;
  width: 21px;
  height: 21px;
  padding: 10px;

  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

/* Modal map */

.modal-map {
  display: none;
  width: 940px;
  min-height: 450px;

  background-image: url("../img/big-map.jpg");
  background-repeat: no-repeat;
}

.modal-map__iframe {
  border: none;
}

/* Modal write us */

.modal-write-us {
  display: none;
  width: 620px;
}

.modal-write-us__form {
  margin-top: 32px;
}

.modal-write-us__form-wrapper  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
  padding: 0 80px;
}

.modal-write-us__input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 13px 0 0;
}

.modal-write-us__input-wrapper--textarea {
  width: 100%;
}

.modal-write-us__label {
  margin-bottom: 10px;

  font-size: 18px;
  font-family: var(--base-f);
  color: var(--base-strong);
}

.modal-write-us__input {
  width: 220px;
  padding: 7px 12px;

  line-height: 24px;

  border: 2px solid var(--faint-strong-down);
  border-radius: 2px;
}

.modal-write-us__input::placeholder {
  color: var(--faint-strong);
}

.modal-write-us__input--textarea {
  width: 100%;
  height: 115px;

  resize: none;
}

.modal-write-us__submit {
  min-width: 460px;

  border: none;
}

/* Modal cart */

.modal-cart {
  display: none;
  width: 620px;
}

.modal__cart-wrapper {
  margin-top: 55px;
}

.modal-cart__text {
  position: relative;

  margin: 0 0 50px;
  padding: 18px 0;

  font-size: 24px;
  line-height: 30px;
  font-family: var(--base-bold-f);
  text-align: center;
}

.modal-cart__text::before {
  content: "";
  position: absolute;
  top: calc(50% - 33px);
  left: 80px;

  width: 66px;
  height: 66px;

  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
}

.modal-cart__link {
  width: 192px;
}

.modal-cart__link--white {
  border: none;
  margin-left: 8px;
}

.modal-cart__link--white,
.modal-cart__link--white:hover,
.modal-cart__link--white:focus,
.modal-cart__link--white:active {
  color: var(--base-strong);

  background-color: var(--base-weak);
}

/* Slider */

.slider {
  position: relative;
}

.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
  position: relative;
}

.slide--current {
  display: block;
}

/* Slider offer */

.slide-offer__inner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  padding: 25px 25px 15px;

  background-color: var(--bg-base-strong);
}

.slide-offer__name {
  margin: 0 0 5px;

  font-size: 36px;
  line-height: 36px;
  font-family: var(--base-bold-f);
  text-transform: uppercase;
}

.slide-offer__text {
  margin: 0;

  font-size: 18px;
}

.slide-offer__link {
  position: absolute;
  bottom: 25px;
  left: 25px;

  min-width: 192px;
  z-index: 1;
}

.slide-offer__image {
  display: block;
}

.slider-offer__button {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  background-repeat: no-repeat;
}

.slider-offer__button--prev {
  left: 0;
  background-image: url("../img/icon-left.svg");
  background-position: 100% 120px;
}

.slider-offer__button--next {
  right: 0;
  background-image: url("../img/icon-right.svg");
  background-position: 0 120px;
}

.slider-offer__controls {
  position: absolute;
  display: flex;
  left: 295px;
  bottom: 35px;
}

.slider-offer__control {
  margin-right: 10px;
  width: 6px;
  height: 6px;
  background-color: var(--base-weak);
  border: 2px solid var(--base-weak);
  border-radius: 50%;
  box-sizing: content-box;
}

.slider-offer__control:last-child {
  margin-right: 0;
}

.slider-offer__control--current {
  background-color: var(--accent-strong);
}

/* Slider services */

.slider-services__controls {
  position: relative;
  margin-right: 80px;
  width: 240px;
}

.slider-services__controls::after {
  content: "";
  position: absolute;
  top: -50px;
  right: 0;
  width: 10px;
  height: 280px;
  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
}

.slider-services__control {
  width: 100%;
  text-align: left;
  padding: 16px 22px;
  font-size: 21px;
  line-height: 30px;
  font-family: var(--base-bold-f);
  text-transform: none;
  color: var(--base-weak);
  background-color: var(--complement-weak);
  box-shadow: inset 0 -1px 0 var(--complement-strong), inset 0 1px 0 var(--complement-weak-down);
}

.slider-services__control:hover,
.slider-services__control:focus {
  background-color: var(--complement-strong);
}

.slider-services__control--current,
.slider-services__control--current:hover,
.slider-services__control--current:focus {
  background-color: var(--base-weak);
  box-shadow: none;
  color: var(--complement-weak);
  cursor: default;
}

.slider-services__list {
  flex-grow: 1;
}

.slide-service {
  min-height: 290px;
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slide-service--delivery {
  background-image: url("../img/service-1.png");
}

.slide-service--guarantees {
  background-image: url("../img/service-2.png");
}

.slide-service--credit {
  background-image: url("../img/service-3.png");
}

.slide-service__name {
  margin: 0 0 30px;

  font-weight: 400;
  font-size: var(--title-base-fz);
  line-height: var(--title-base-lh);
  font-family: var(--base-f);
  color: var(--complement-weak);
  text-transform: uppercase;
}

.slide-service__text {
  margin: 0;
  width: 315px;
}

.slide-service__link {
  min-width: 195px;
  margin-top: 25px;
}
